body {
  display: block;
  background-color: darkred;
}
h1{
  text-align:center;
  border: 5px;
  font-size: 70px;
  background-color: firebrick;
  border-color: silver;
  border-style:double;
  color:silver;
}
.grid {
  position: absolute;
  width: 45%;
  height: 45%;
  margin: auto;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border: 50px , darkslategray;
}
.squareButton {
  width: 32%;
  height: 40%;
  border-radius: 20px;
  background-color: darkred;
  color: darkslategray;
  object-fit: scale-down;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}


p {
  color:silver;
  position:absolute;
  bottom: 5%;
  font-size: 30px;
  left: 10%;
  border:5px;
  background-color: firebrick;
  border-color: silver;
  border-style:double;
  cursor: pointer;

}
/*background-image: url(../image/and.jpg);



